.link{
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.links *{
  text-align: center;
}
.anchor_btn{
  background-color: #efecf0;
  text-decoration: none;
  color: #101828;
  width: 100%;
  padding: 24px 32px;
  text-align: center;
  border-radius: 8px;
  margin: 8px 0px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 28px;
}
.anchor_btn:hover{
  background-color: #98a2b3;
  color: #101828;
}

.socialIcon{
  text-align: center;
  padding: 30px;
  margin-bottom: 64px;
}
.socialIcon >img{
  height: 24px;
  width: 24px;
  margin: 10px;
}

@media (max-width: 375px){
  .links{
    width: 350px;
  }
  .link{
    padding: 0;
    margin: 0;
  }
  .anchor_btn{
    background-color: #efecf0;
    text-decoration: none;
    color: #101828;
    width: 350px;
    padding: 24px 24px;
    text-align: center;
    border-radius: 8px;
    margin: 8px 0px 8px -40px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
  }
}