.profile *{
  font-family:'Inter';
}
.container{
  text-align: center;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-weight: normal;
  margin-bottom: 40px;
}

.more {
  display: none;
  position: absolute;
  top: 80px;
  right: 300px;
  padding: 5px;
  border: 2px dotted #d0d5dd;
  border-radius: 50%;
}

.share {
  position: absolute;
  top: 80px;
  right: 300px;
  padding: 5px;
  border: 2px dotted #d0d5dd;
  border-radius: 50%;
}

.share:hover {
  border-style: dotted;
  background-color: #efecf0;
}

#profile__image {
  margin-top: 64px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
#twitter{
  /* font-family: 'Inter'; */
  font-size: 20px;
}

#slack {
  display: none;
}

@media (max-width: 375px) {
  #twitter{
    font-size: 18px;
  }

  .share {
    display: none;
  }

  .anchor_btn {
    font-size: 16px;
  }

  .more {
    display: block;
    position: absolute;
    top: 80px;
    right: 30px;
    width: 24px;
    height: 24px;
  }

  .more:hover {
    border-style: dotted;
    background-color: #efecf0;
  }
}