label {
  font-size: 14px;
  margin-top: 5px;
  color: #344054;
}

.form-control {
  border: none;
}

.form-inline {
  display: flex;
  flex-direction: row;
  width: 705px;
}

.form-inline>div {
  flex: 1;
}

.form-inline div:last-child {
  margin-left: -25px;
}

.form-field-error {
  font-size: 14px;
  color: #c93e3e;
  padding-top: -25px;
  margin-top: 0px;
}

.form-control-check {
  display: inline-flex;
  flex-direction: row;
  text-align: left;
  justify-items: left;
  height: 40px !important;
  padding-left: 13px;
  padding-top: 0;
  margin-bottom: 20px;
}

.form-control-check input {
  width: 18px;
  height: 18px;
  position: relative;
  left: 0;
  margin: 0;
}
.form-control-check div:first-child{
  margin-right: 5px;
}
label:last-child{
  margin-top: 0px;
}
label .check-text{
  flex: 3;
  margin: 0px !important;
  margin-left: 30px;
  justify-content: right;
  top: 0;
  width: 80%;
}
textarea {
  width: 670px;
}

#checkbox {
  display: flex;
  align-items: flex-start;
}
.check-text-container{
  padding: 0px 10px;
}

#btn__submit {
  border: none;
  background-color: #1354ce;
  width: 700px;
}

.form-success {
  color: #03ad3c;
  font-size: 14px;
}

@media (max-width:375px) {
  form{
    padding: 0;
    margin-left: -20px;
  }
  label {
    font-size: 12px;
    margin-top: 5px;
    color: #344054;
  }
  label:last-child{
    margin-top: 0;
    font-size: 14px;
  }

  .form-control {
    border: none;
  }

  .form-inline {
    display: flex;
    flex-direction:  column;
    width: 360px;
  }

  .form-inline>div {
    flex: 1;
  }

  .form-inline div:last-child {
    margin-left: 0px;
  }

  .form-field-error {
    font-size: 12px;
    color: #c93e3e;
    line-height: 10px !important;
  }

  .form-control-check {
    display: inline-flex;
    flex-direction: row;
    flex-basis: auto;
    text-align: left;
    justify-items: left;
  }

  #email{
    width: 325px;
  }

  textarea {
    width: 325px;
  }

  #checkbox {
    display: flex;
    align-items: flex-start;
  }

  #btn__submit {
    border: none;
    background-color: #1354ce;
    width: 340px;
  }

  .form-success {
    color: #03ad3c;
    font-size: 12px;
  }
}