.footer{
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  width: 90%;
  border-top: 1px solid #efecf0;
  justify-content: center;
  padding-top: 20px;
  flex-basis: auto;
}

.footer div{
  flex: 1;
  color: #98a2b3;
}
.footer div:last-child{
  text-align: right;
}

@media (max-width: 375px){
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .footer>div{
    flex: 1;
    width: 100%;
    text-align: left;
  }

  .footer div:last-child{
    text-align: left;
    margin-bottom: -30px;
  }
}